header.pl-header
    .container
        nav.nav
            .nav-left
                a.nav-item.is-brand(href='/') Preston Lloyd

            .nav-right
                a.nav-item(href='/') Home
                a.nav-item(href='/about/') About
