extends layout.pug

block content
    section.hero.is-fullheight.is-primary
        .hero-body
            .container
                h1.title.is-1 Preston Lloyd
                p.subtitle.is-3 Web Developer, Potential super hero.

    section#about.section
        .container
            .columns
                .column
                    h2.title.is-2 About Me
                    p I'm a web developer. Experienced creating web applications in Python, Javascript, and PHP.
                .column


    section#utah.section
        .container
            .columns
                .column

                .column
                    h2.title.is-2 Made in the USA.
                    p I've worked with clients from all over the world, but Utah is where I call home.
