doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta()

        block title
            title Preston Lloyd | Web Developer

        link(href='https://fonts.googleapis.com/css?family=Montserrat|Roboto' rel='stylesheet')
        link(href='/css/site.css' rel='stylesheet')
    body
        .pl-page
            main.pl-main
                section#hero.hero.is-fullheight.is-primary
                    .hero-body
                        .container
                            h1.title.is-1 Preston Lloyd
                            p.subtitle.is-3 Web Developer, Potential Super Hero.
                    canvas#hero-canvas


        script(src='/js/landing.js')
