doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta()

        block title
            title Preston Lloyd | Web Developer

        link(href='https://fonts.googleapis.com/css?family=Montserrat|Roboto' rel='stylesheet')
        link(href='/css/site.css' rel='stylesheet')
        block styles
    body
        .pl-page
            include partials/header.pug

            main.pl-main
                block content

            include partials/footer.pug

        script(src='/js/main.js')
        block scripts
